body{
    background-color:#0B0719;
}
.main {
    text-align: center;
}
.main img {
    width: 750px;
    margin: 20px;
}
footer {
    text-align: center;
    color: #fff;
}
a {
    text-decoration: none;
    color : #fff;
}
a:hover{
    color : #A4A4A4;
}
